@font-face{
    src: url("font/Mamelon.otf");
    font-family: "マメロン";
}

@font-face{
    src: url("font/Harenosora.otf");
    font-family: "はれのそら明朝";
}

@font-face {
  src: url("./font/mini.otf");
  font-family: "mini";
}

*{
    letter-spacing: .15em;
    margin: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: bold;
}

body{
    color: rgb(63, 25, 0);
    background-image: url(images/washi.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: top center;
    /* background-color: rgb(223, 212, 196); */
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
}

.body_container{
    background-color: rgb(253, 252, 249);
    margin: 0 auto;
    width: 94%;
    border-radius: 10px;
    /* filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, .3)); */
}

.Top{
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 75vh;
}

.swiper-image{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-gradient{
    position: absolute;
    top: .5px;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgb(252, 251, 246) 100%);
    z-index: 0;
}

.swiper-slide{
    position: relative;
}

.swiper_textBox{
    position: relative;
    display: flex;
    color: rgb(63, 25, 0);
    justify-content: center;
    margin-top: -70px;
    z-index: 1;
    font-size: 18px;
    text-shadow: 0 0 5px #fff;
}

.swiper-pagination{
    bottom: 60px !important;
}

.swiper-pagination-bullet-active {
    background: rgb(63, 25, 0);
}

.Top_titleBox{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -50px;
}

.Top_titleImg{
    width: 150px;
    margin-bottom: 10px;
}

.Top_subtitleImg{
    width: 100px;
}

.Top_logo{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    z-index: 999;
    margin-bottom: 20px;
}

.Top_address{
    font-size: 14px;
    margin-bottom: 20px;
}

.Top__timeBox{
    display: inline-block;
}

.Top_time--modifier{
    display: flex;
    font-size: 14px;
    justify-content: center;
}

.Top_timeHeading--modifier{
    margin-right: 10px;
}





.PageTitle--modifier::before{
    content: "-";
}

.PageTitle--modifier{
    font-family: "マメロン";
    text-align: center;
    font-size: 20px;
    letter-spacing: .3em;
    margin-top: 50px;
    margin-bottom: 30px;
}

.PageTitle--modifier::after{
    content: "-";
}





.Concept_greetingBox{
    position: relative;
    height: 100px;
}

.Concept_greeting{
    position: absolute;
    transform: rotate(-10deg);
    font-family: "はれのそら明朝";
    font-size: 20px;
    letter-spacing: .5em;
    left: 20px;
}

.Concept_imgBox{
    position: relative;
    display: flex;
    margin-bottom: 50px;
    height: 130px;
}

.Concept_loopImg{
    border-radius: 50%;
    display: block !important;
    height: 120px;
    width: 120px;
    object-fit: cover;
}



.slick-slider{
    padding: 0;
    margin-bottom: 30px;
}

.Concept_loopList{
    width: 180px !important;
}

/* .Concept_swiper-image1{
    left: 0;
}

.Concept_swiper-image2{
    left: 200px;
}

.Concept_swiper-image3{
    left: 400px;
}

.Concept_swiper-image4{
    left: 600px;
}

.Concept_swiper-image5{
    left: 800px;
} */

.Concept_textBox{
    display: flex;
    justify-content: center;
}

.Concept_text{
    font-size: 14px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    line-height: 3em;
}

.Concept_textOtherColor{
    color: rgb(184, 134, 11);
    font-size: 15px;
    letter-spacing: .15em;
}









.Life_title{
    margin-bottom: 5px;
}

.Life_subTitle{
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
}

.Life_contents--modifier{
  position: relative;
  margin-bottom: 100px;
}

.Life_contentsTop{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.Life_contents--modifier:nth-child(even) .Life_contentsTop{
  flex-direction: row;
}

.Life_contentsTitle--modifier{
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 2.5em;
  font-size: 14px;
  font-family: "mini";
}

.Life_contentsImage{
  width: 50%;
}

.Life_contentsText--modifier{
  font-size: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}



.Life_contents--modifier:nth-child(odd) .Life_contentsTop .Life_contentsTitle--modifier{
  margin-right: 20px;
}










.News{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.News_articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.NewsTop{
    margin-bottom: 50px;
    width: 100%;
}

.NewsTop_link,
.NewsArticle_link{
    display: flex;
}

.NewsTop_link,
.NewsArticle_link,
.modal{
    flex-direction: column;
    color: rgb(63, 25, 0);
    text-decoration: none;
    position: relative;
    width: 100%;
}

.modal{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-width: none;
    padding: 20px 5px;
    left: 0;
    right: 0;
    margin: auto;
}

.NewsTop_title{
    font-size: 16px;
    margin-bottom: 5px;
}

.NewsTop_text,
.NewsArticle_text{
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal .NewsTop_text,
.modal .NewsArticle_text{
    text-overflow: unset;
    white-space: unset;
}


.NewsTop_dateTagBox{
    order: -2;
    display: flex;
    border-top: rgb(63, 25, 0) 1px solid;
    border-bottom: rgb(63, 25, 0) 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.NewsTop_date{
    padding-left: 10px;
    padding-right: 10px;
    border-right: rgb(63, 25, 0) 1px solid;
}

.NewsTop_tag{
    padding-left: 20px;
}

.NewsTop_img,
.modal .NewsArticle_img{
    order: -1;
    width: 100%;
    height: 240px;
    object-fit: contain;
    margin-bottom: 15px;
}







.NewsArticle{
    width: 45%;
    margin-bottom: 30px;
}

.NewsArticle_title{
    font-size: 14px;
    margin-bottom: 5px;
}

.NewsArticle_text{
    font-size: 12px;
}

.NewsArticle_date{
    text-align: center;
    order: -2;
    border-top: rgb(63, 25, 0) 1px solid;
    padding-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}


.News_listLink{
    display: inline-block;
    border: 1px rgb(63, 25, 0) solid;
    color: rgb(63, 25, 0);
    text-decoration: none;
    padding: 5px 15px;
}

.NewsArticle_img{
    order: -1;
    width: 100%;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}





.Access_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.Access_IyasakaHouseImg{
    width: 70%;
    margin-bottom: 20px;
}

.Profile_titleBox{
    display: flex;
    flex-direction: column-reverse;
}

.Profile_titleBox,
.Profile_address,
.Profile_detail--modifier{
    margin-bottom: 5px;
    font-size: 13px;
}

.Profile_title{
    font-size: 20px;
}

.Profile_subtitle{
    font-size: 14px;
}

.Profile_group--modifier:not(:last-child){
    border-bottom: 1px rgb(63, 25, 0, .3) dashed;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.Profile_detail--modifier{
    display: flex;
}

.Profile_detailHeading--modifier::after{
    content: ":";
    margin-left: 2px;
    margin-right: 2px;
}




.Access_googleMapBox{
    text-align: center;
}

.Access_googleMap{
    width: 320px;
    height: 240px;
}

.Access_linkBox{
    text-align: center;
}

.Access_link{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(63, 25, 0);
    color: rgb(252, 251, 246);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px;
}
